<!doctype html>
<html lang=en>
  <meta charset=UTF-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel=stylesheet href="{{url_for('static', filename='game.css')}}">
  <title>Example “Game” for Sterling</title>
 </head>
<body>
  {{ svg|safe }}
  <form id=buttons>
    <button name=choice value=smaller>Smaller</button>
    <button name=choice value=larger>Larger</button>
  </form>
</body>
</html>
